    <header class="navbar">
        <div class="logo">
            <a href="index.html"><img src="./assets/img/logo-lettering.png" alt="Logo da marca Glaciar"></a>
        </div>
        <nav class="nav-links">
            <ul>
                <li><a href="index.html#masculino" class="shop-link">MASCULINO</a></li>
                <li><a href="index.html#feminino" class="shop-link">FEMININO</a></li>
                <li><a href="index.html#calcados" class="shop-link">CALÇADOS</a></li>
                <li><a href="index.html#equipamentos" class="shop-link">EQUIPAMENTOS</a></li>
            </ul>
        </nav>
        <div class="nav-icons">
            <button aria-label="Buscar"><img src="./assets/icons/search.svg" alt="Buscar"></button>
            <a href="conta.html" aria-label="Minha Conta"><img src="./assets/icons/user.svg" alt="Minha Conta"></a>
            <a href="carrinho.html" aria-label="Carrinho"><img src="./assets/icons/cart.svg" alt="Carrinho"></a>
        </div>
    </header>