/* =========================================
   VARIÁVEIS GLOBAIS
   ========================================= */
:root {
    --branco: #FFFFFF;
    --fundo-app: #F4F6F8; 

    --cinza-rocha: #2C3E50;
    --cinza-rocha-claro: #596A7A;
    --borda-rocha: #D5DBE0;

    --azul-gelo: #5DADE2;
    --azul-gelo-fundo: #EBF5FB; 


    --laranja-alpinista: #E67E22;
    --laranja-alpinista-fundo: #FEF5E7;
    
    --fonte-principal: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* =========================================
   RESET DE ESTILOS GLOBAIS
   ========================================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--branco);
    color: var(--cinza-rocha);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* =========================================
   ESTILOS DO NAVBAR
   ========================================= */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 4rem;
    background-color: var(--branco);
    border-bottom: 1px solid #EAEAEA;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
    width: 180px;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.nav-links ul {
    display: flex;
    gap: 2.5rem;
}

.nav-links a {
    position: relative;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--laranja-alpinista);
}

.nav-icons {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.nav-icons button, .nav-icons a {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.3rem;
    display: flex;
}

.nav-icons a:hover, .nav-icons button:hover {
    background-color: var(--fundo-app);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-icons img {
    width: 22px;
    height: 22px;
}

.shop-link {
    position: relative;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 600;
    color: inherit;
    padding-bottom: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

.shop-link:hover {
    color: var(--laranja-alpinista);
}

.shop-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: var(--laranja-alpinista);
    transition: width 0.3s ease;
}

.shop-link:hover::after {
    width: 100%;
}
/* =========================================
   BREADCRUMB (Caminho de Navegação)
   ========================================= */
.breadcrumb {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
    margin-bottom: 1.5rem;
    color: var(--cinza-rocha-claro);
}

.breadcrumb a {
    color: var(--cinza-rocha);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.2s ease;
}

.breadcrumb a:hover {
    color: var(--azul-gelo); /* Feedback visual na cor da marca Glaciar */
    text-decoration: underline;
}

.breadcrumb .separator {
    color: var(--borda-rocha);
    font-size: 0.8rem;
    font-weight: bold;
}

.breadcrumb .current {
    color: var(--cinza-rocha-claro);
}

/* =========================================
   ESTILOS DO FOOTER
   ========================================= */
footer {
    text-align: center;
    padding: 3rem 1rem;
    background-color: var(--cinza-fundo);
    color: var(--cinza-texto);
    font-size: 0.85rem;
    margin-top: 4rem;
}